
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type="text/javascript" src="https://archives-library.wcsu.edu/cao/wp-content/themes/basic/js/functions.js?ver=1" id="basic-scripts-js"></script>


<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://archives.library.wcsu.edu/matomo/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://archives.library.wcsu.edu/matomo/matomo/matomo.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->



<header>

    <div class='bg-faded al-masthead'>
      <div class="container">
        <div class="wrapper clearfix">
        <%= render 'shared/wordpress_nav_test' %>
          

</div>
        </div>
      </div>
    <div class="navbar-search navbar">
      <div class="<%= container_classes %>">
    <%= render(blacklight_config.view_config(document_index_view_type).search_bar_component.new(
              url: search_action_url,
              advanced_search_url: search_action_url(action: 'advanced_search'),
              params: search_state.params_for_search.except(:qt),
              autocomplete_path: suggest_index_catalog_path)) %>
      </div>
    </div>
</header>




